.header-container {
  display: flex;
  align-items: center;
}
.title {
  display: inline-block;
  color: #ffffff;
  margin: 0 30px;
  font-size: 30px;
  font-weight: 600;
}
.search {
  width: 240px;
}

.article {
  width: 40%;
  min-width: 600px;
  margin: 0 auto;
  margin-top: 80px;
}
